<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>投稿作成ページ</title>
    <link rel="stylesheet" href="tw_sample/app/assets/stylesheets/tweet_clones.scss">
    <link rel="stylesheet" href="tw_sample/app/assets/stylesheets/normalize.css">
  </head>
  <header>
    <p>今の気持ちを伝えよう</p>
  </header>
  <body>
    <div class = "container">
      <div class="tweet_content">
        <h2>投稿を作成する</h2>
        <%= render 'form' %>
      </div>
    </div>
  </body>
  <footer>
    <p>Copyright © 2020 SHINJI ONO All RIGHTS RESERVED.</p>
  </footer>
</html>
